* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./cat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    line-height: 1.6;
    text-align: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 0 30px;
}

#showcase {
    height: 400px;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.3;
    position: relative;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes heading {
    0% {
        top: 50px;
        opacity: 0;
    }

    100% {
        top: 120px;
        opacity: 1;
    }
}

.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    border: #fff 1px solid;
    opacity: 0;
    margin-top: 40px;
    animation-name: btn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration: 1s;
}

.btn:hover {
    transform: rotateY(180deg);
}

@keyframes btn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.date {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    font-size: 54px;
    transform: translateX(-50%);
}

.heure, .minute, .seconde {
    font-size: 54px;
}
