body {
    background: #333;
}

.box {
    background: white;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: myAnimation;
    animation-duration: 4s;
    /* animation-iteration-count: infinite; */
    /* animation-delay: 2s; */
    /* animation-direction: alternate; */
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-fill-mode: forwards;
}

@keyframes myAnimation {
    0% {background-color: white;left: 0px; top: 0px;border-radius: 0 0 0 0;}
    25% {background-color: red;left: 300px; top: 0px;border-radius: 50% 0 0 0;}
    50% {background-color: blue;left: 300px; top: 300px;border-radius: 50% 50% 0 0;}
    75% {background-color: green;left: 0px; top: 300px;border-radius: 50% 50% 50% 0;}
    100% {background-color: white;left: 0px; top:0px;border-radius: 50% 50% 50% 50%;}
}