@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: lightblue;
    @include flexCenter;
}

.contact {
    // $theme: attr(data-theme);
    // @include colors-back($theme);
    @include flexCenter;
}
